body{

    background-image: url("https://i1.wp.com/www.titanui.com/wp-content/uploads/2013/05/31/Fashion-Music-And-Guitar-Background-10.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    text-align: center;
    color: cornflowerblue;
    font-size: 80px;
}

.img{
    width: 890px;
    height: 700px;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    border: 4px solid black;
    max-width: 900px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
/*mySlides {*/
/*    display: none;*/
/*}.*/

/* Next & previous buttons */
.prev, .next {
    background-color: darkgray;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: grey;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Caption text */
.name {
    color: mediumpurple;
    font-size: 15px;
    padding: 8px 12px;
    /*position: absolute;*/
    bottom: 8px;
    width: 100%;
    text-align: left;
    background-color: black;

}

.invis {
    display: none;
}

/* Number text (1/3 etc) */
.numbertext {
    color: darkred;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.description{
    color: mediumpurple;
    background-color: black;
}


